body {
  font-size: 22px;
}

input[type="text"] {
  margin: 10px 0;
  display: block;
}

/* this attribute hides everything if the internet connection is slow */
[v-cloak] {
  display: none;
}
